<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8cd60dbffc.js" crossorigin="anonymous"></script>
    <meta name="description" content="A whole collection of ugly games.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %} SAM.network {% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
        <header>
        <nav>
            <div class="navbar-left">
                <a class="navbar-brand" href="{{ url_for('index') }}"><h2>SAM.network</h2></a>
            </div>
            <div class="navbar-right">
                <ul class="navbar-list">
                    <li class="navbar-list-item">
                        <a class="navbar-link navbar-btn" href="{{ url_for('index') }}#games">Games</a>
                    </li>
                    <li class="navbar-list-item">
                        <a class="navbar-link navbar-btn" href="{{ url_for('index') }}#footer">About</a>
                    </li>
                    <li class="navbar-list-item">
                        <div class="navbar-btn-container">
                            <a href="" class="navbar-link navbar-btn signup-btn">Sign Up</a>
                            <a href="" class="navbar-link navbar-btn login-btn">Log in</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer id="footer">
        <ul class="contact-me" id="contact-me">
            <li>
                <h2>My Name</h2>
                <p>Syed Ali Murtaza Raza</p>             
            </li>
            <li>
                <h2>Where I live</h2>
                <p>Karachi, Pakistan</p>             
            </li>
            <li>
                <h2>My Email</h2>
                <p><a href="mailto:s.alimrtza@gmail.com">s.alimrtza@gmail.com</a></p>          
            </li>
            <li>
                <h2>Know more about me</h2>
                <p><a href="#">Résumé</a> | <a href="#">Portfolio</a></p>            
            </li>
        </ul>
        
        <hr width="90%" size="2">
        
        <div class="footer-container">
            <p>SAM.network showcases my work, including algorithms, games, and tech projects, to inspire developers. It features my portfolio, highlights my skills, and includes a shopping section for unique items. Explore my creations and see my passion for coding in action. While using SAM.network, you agree to have read and accepted our <a href="">terms of use</a>, <a href="">cookie and privacy policy</a></p>
            <ul class="footer-applist">
                <li class="applist-item"><a href="https://www.facebook.com/profile.php?id=100044648671729" target="_blank"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li class="applist-item"><a href="https://www.instagram.com/ali0_0murtaza/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
                <li class="applist-item"><a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="applist-item"><a href="#" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a></li>
            </ul>

        </div>

        </div>
        <div class="footer-container">
            <p>Copyright &copy; 2024-2025 by Ali Murtaza. All Rights Reserved. SAM.network is owned by Syed Ali Murtaza Raza</p>
        </div>
    </footer>

    <a id="scroll-to-top" href="#">^</a>
    <script src="{{ url_for('static', filename='js/top-scroll.js') }}"></script>
    {% block scripts %} {% endblock %}
</body>
</html>