{% extends "base.html" %}
{% block title %} {{ game_name }} {% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gamepage.css') }}">
{% endblock %}
{% block content %}
    <main>
        <div class="canvas-container">
            <canvas id="canvas" width="{{ game_width }}" height="{{ game_height }}"></canvas>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    {% if is_module %}
        <script type="module" src="{{ url_for('static', filename=script_file) }}"></script>
    {% else %}
        <script src="{{ url_for('static', filename=script_file) }}"></script>
    {% endif %}
{% endblock %}
